<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=pageTitle %></title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Home Page</h1>
      <ul>
        <%if(progLang.length>0){%>
        <li><%=progLang[0]%></li>
        <li><%=progLang[1]%></li>
        <li><%=progLang[2]%></li>
        <li><%=progLang[3]%></li>
        <%}else{%>
        <p>No Data available</p>
        <%}%>
      </ul>
    </main>
    <footer>
      <p>Copyright &copy; 2024</p>
    </footer>
  </body>
</html>
